# Clase 02 sábado 06 de marzo de 2021

#### Operaciones con Texto

In [1]:
txt_1 = 'Los textos'
txt_2 = ' se concatenan.'
print(txt_1 + txt_2)

Los textos se concatenan.

In [5]:
txt_3 = 'Los textos se multiplican. '
print(txt_3)
print(txt_3 * 2)
print(txt_3 * 10)

Los textos se multiplican.
Los textos se multiplican. Los textos se multiplican.
Los textos se multiplican. Los textos se multiplican. Los textos se multiplican. Los textos se multiplican. Los textos se multiplican. Los textos se multiplican. Los textos se multiplican. Los textos se multiplican. Los textos se multiplican. Los textos se multiplican.

la siguiente ejecución debe dar error

In [6]:
b = 'Los textos'
c = ' no se restan.'
print(b - c)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

**Nota**: No nos cansaremos de decirles que presten atención a los mensajes de error.

In [7]:
# ¿Qué pasa si queremos sumar un número al texto?
b = 'Mi edad es '
c = 28
print(b + c)

TypeError: can only concatenate str (not "int") to str

El error nos dice que a los 'string' solo se le pueden concatenar otros 'strings' (no enteros). La manera correcta sería entonces:

In [8]:
# Que pasa si queremos sumar un número al texto?
b = 'Mi edad es '
c = 28
print(b + str(c))

Mi edad es 28

**Ejercicio**: Armar la frase 'El gran gran gran gran gran castillo mide 50 metros.' a partir de operar con las siguientes variables (viene con trampita):

In [9]:
txt1 = 'gran '
txt2 = 'El '
txt3 = 'mide '
txt4 = ' metros.'
numero = 50

frase = txt2 + 5*txt1 + 'castillo '+ txt3 + str(numero) + txt4
print(frase)

El gran gran gran gran gran castillo mide 50 metros.

#### 1.3.3 Operaciones Lógicas

In [13]:
variable_1 = True
variable_2 = False

In [14]:
print(variable_1)
print(variable_2)

True
False

In [15]:
print(variable_1 or variable_2)

True

In [16]:
variable_1 =  False
variable_2 = False
print(variable_1 or variable_2)

False

In [17]:
variable_1 =  True
variable_2 = True
print(variable_1 or variable_2)

True

In [18]:
print(not(variable_1))

False

In [19]:
variable_2 = False
print(not(variable_2))

True

In [20]:
variable_1 = True
variable_2 = False
variable_3 = variable_1 and variable_2
print(variable_3)

False

In [21]:
variable_1 = True
variable_2 = True
variable_3 = variable_1 and variable_2
print(variable_3)

True

In [22]:
variable_1 = False
variable_2 = False
variable_3 = variable_1 and variable_2
print(variable_3)

False

## 2. Listas, Loops y Condicionales

### 2.1 Listas

Son un objeto central en el lenguaje Python. Están compuestas por una sucesión de objetos en un orden determinado. Se definen mediante corchetes '[ ]', y los objetos dentro de ellas se separan por comas ','.

In [23]:
lista_1 = [42, 4.7, True, 'Texto']
print(lista_1)

[42, 4.7, True, 'Texto']

In [24]:
# Podemos inspeccionar el largo de una lista, o sea, su cantidad de elementos
len(lista_1)

4

Podemos inspeccionar elementos de una lista accediendo a una determinada posición de la misma. Los índices de las posiciones empiezan en 0, y se especifican poniendo corchetes con el índice dentro luego del nombre de la lista:

In [25]:
print(lista_1[0])
print(type(lista_1[0]))

42
<class 'int'>

In [26]:
print(lista_1[3])
print(type(lista_1[3]))

Texto
<class 'str'>

In [27]:
print(lista_1[2])
print(type(lista_1[2]))

True
<class 'bool'>

In [28]:
# Tambien podemos selecciona una porción de lista
#(ya veremos esto en detalle mas adelante)
print(lista_1[0:3])
#lista hasta la posicion n-1

[42, 4.7, True]

In [31]:
# Tambien podemos selecciona una porción de lista
#(ya veremos esto en detalle mas adelante)
print(lista_1[0:4])
#lista hasta la posicion n-1

[42, 4.7, True, 'Texto']

In [29]:
# Definimos una segunda lista
lista_2 = [0, lista_1, 'Mas texto']
print(lista_2)
print(len(lista_2))

[0, [42, 4.7, True, 'Texto'], 'Mas texto']
3

Notemos que en esta segunda lista, agregamos dentro la primera. Toda la primer lista cuenta como un único elemento.

In [30]:
# Un elemento de la lista_2 es la lista_1
print(lista_2[1])

[42, 4.7, True, 'Texto']

Podemos crear listas vacias, e ir agregándole elementos con el método 'append()'

In [32]:
lista_vacia = []
len(lista_vacia)

0

In [33]:
lista_vacia.append(42)
print(lista_vacia)

[42]

In [34]:
lista_vacia.append('un segundo item')
print(lista_vacia)
print(len(lista_vacia))

[42, 'un segundo item']
2

In [35]:
lista_vacia.append('un tercer item')
print(lista_vacia)
print(len(lista_vacia))

[42, 'un segundo item', 'un tercer item']
3

Prueben qué pasa si corren nuevamente la celda anterior (justo arriba de esta).

**Ejercicio**: Defina una lista vacia llamada 'lista_nueva' y agréguele (`append()`) los elementos a, b y c.

In [36]:
a = 8
b = 'world'
c = [12,24.5,66]

In [37]:
lista_nueva = []

In [38]:
lista_nueva.append(a)
print(lista_nueva)
lista_nueva.append(b)
print(lista_nueva)
lista_nueva.append(c)
print(lista_nueva)

[8]
[8, 'world']
[8, 'world', [12, 24.5, 66]]

**Detalle muy importante:** copiado de listas (que vale para listas, arreglos de Numpy y dataframes de Pandas)

In [44]:
lista_1 = [1,2,3,4]
lista_2 = lista_1  #lista_2 ahora es igual a lista_1

In [45]:
print(lista_1)
print(lista_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [46]:
lista_2[-1] = 100 #el ultimo elemento de la lista ahora es 100, con -1 seleccionamos el ultimo elemento de la lista
print(lista_2)

[1, 2, 3, 100]

¿Cómo esta formada la lista_1?

In [47]:
print(lista_1)

[1, 2, 3, 100]

¡Se modificaron ambas listas!

In [48]:
lista_1 = [1,2,3,4]
lista_2 = lista_1.copy()
lista_2[-1] = 100
print(lista_1, lista_2)

[1, 2, 3, 4] [1, 2, 3, 100]

Ahora no!

### 2.2 Loops
Los **Loops** son estructuras de codigo fundamentales en cualquier lenguaje de programación. Son bloques de código que se repiten dada una cierta cantidad de veces dada una condición.

#### 2.2.1 For
El For es un loop en el que un bloque de código se repite tantas veces como elementos haya en una determinada lista. En cada iteración (repetición) hay una variable que va tomando el valor de uno de los elementos en esta lista.

In [49]:
lista_numeros = [3,55,1,876,12]

# Definimos el codigo dentro del for mediante la indentación
# (Todo lo que este corrido un 'tab' a la derecha)
for elemento in lista_numeros:
    print(elemento)

3
55
1
876
12

In [50]:
# Repitamos los mismo que la celda anteriro
# pero ahora agregemos una variable i 
# que cuente la cantidad de veces que ese corre el codigo 

lista_numeros = [3,55,1,876,12]

# La iniciamos en cero
i = 0

for elemento in lista_numeros:
    # Le sumamos 1 cada vez que entra
    i = i+1
    print(elemento)

3
55
1
876
12

In [51]:
print(i)

5

También podemos recorrer listas de texto. Presten atencion al siguiente codigo, e intenten precedir el resultado antes de correr la celda.

In [52]:
lista_nombres = ['Ernesto', 'Camilo', 'Violeta']
nueva_lista = []

for item in lista_nombres:
    oracion = 'Mi nombre es ' + item
    nueva_lista.append(oracion)

In [53]:
# Este print esta fuera del for, no está indentado
print(nueva_lista)

['Mi nombre es Ernesto', 'Mi nombre es Camilo', 'Mi nombre es Violeta']

**Ejercicio**: Genere una lista llamada 'numerotes' que contenga el cuadrado de cada elemento en la lista 'numeritos'.

In [54]:
numeritos = [3,1,5,7,12,10,17,4,22]

numerotes = []

for numero in numeritos:
    numerotes.append(numero**2)
    
print(numerotes)

[9, 1, 25, 49, 144, 100, 289, 16, 484]


#### 2.2.2 While
El while repite un bloque de código mientras se cumpla una cierta condición que le ponemos. Para mayor claridad, pondremos la condición dentro de parentesis '()'.

In [62]:
numero = 1

while (numero < 5):
    #print(numero < 5)
    #print(numero)
    numero = numero + 1
    print(numero)
    print(numero < 5)

2
True
3
True
4
True
5
False

In [63]:
numero = 1

while (numero <= 5):
    #print(numero < 5)
    #print(numero)
    numero = numero + 1
    print(numero)
    print(numero < 5)

2
True
3
True
4
True
5
False
6
False

In [64]:
numero = 1

while (numero > 5):
    #print(numero < 5)
    #print(numero)
    numero = numero + 1
    print(numero)
    print(numero < 5)

In [56]:
# La condición debe ser una operación lógica y dar como resultado un booleano
print(2 < 5)
type(2 < 5)

True

bool

In [65]:
print(5 < 5)
type(5 < 5)

False

bool

**Ejercicio**: Decida si quiere ejecutar el siguiente bloque de código.

In [66]:
numero = 1

while (numero > 0):
    numero = numero + 1

KeyboardInterrupt:

In [67]:
numero

62732923

Si decidió ejecutarlo (o corrió la celda antes de leer la consigna), ¡felicitaciones, usted ha colgado por primera vez un programa! Pero como ya dijimos, hay que probar y equivocarse, nada es irreversible. Vaya a la solapa 'Kernel' del menú y seleccione 'Interrupt'. Lo que sucuede es que la condición del `while` será siempre cierta, por ende nuestro programa se quedará repitiendo el bloque de codigo dentro del loop indefinidamente. Puede averiguar cuantas iteraciones realizo la maquina inspeccionando la variable 'numero':

In [68]:
print(numero)

62732923

¡Notar qué rápido la computadora hace algunas operaciones!

### 2.3 Condicionales
Los condicionales son un bloque de codigo que se ejecuta solo en el caso que se cumpla una dada condición.

### 2.3.1 If
El condicional más simple es el `if`. Nuevamente para mayor claridad escribiremos la condicion entre parentesis (), aunque esto no es necesario.

In [69]:
valor = 15

if (valor > 10):
    print('El valor el mayo que 10')

El valor el mayo que 10

In [70]:
valor = 5

if (valor > 10):
    print('El valor el mayo que 10')

La condición que escribimos debe ser una operación lógica que da como resultado un booleano.

In [71]:
print(15 > 10)

True

In [72]:
print(type(15 > 10))

<class 'bool'>

### 2.3.2 If, Else
A este condicional se le peude agregar otro bloque de codigo que se ejecute si la condición exigida NO se cuemple. Esto se logra mediante la expresión 'else'.

In [73]:
nombre = 'Pedro'

if (nombre == 'Juan'):
    print('Esta persona se llama Juan')
else:
    print('Esta persona NO se llama Juan')

Esta persona NO se llama Juan

In [74]:
'Juan'=='Pedro'

False

### 2.3.3 If, Elif, Else
A esta estructura se le pueden sumar tantas condiciones encadenadas como uno desee, mediante la expresión `elif`. El orden en que se van chequeando las condiciones depende de su posición, priemero se chequea el `if`, luego el primer `elif`, luego el segundo, y así sucesivamente.

In [75]:
edad = 5

if (edad < 18):
    print('Esta persona tiene menos de 18 años')
elif (edad > 18):
    print('Esta persona tiene mas de 18 años')
else:
    print('Esta persona tiene justo 18 años')

Esta persona tiene menos de 18 años

In [76]:
edad = 20

if (edad < 18):
    print('Esta persona tiene menos de 18 años')
elif (edad > 18):
    print('Esta persona tiene mas de 18 años')
else:
    print('Esta persona tiene justo 18 años')

Esta persona tiene mas de 18 años

In [77]:
edad = 18

if (edad < 18):
    print('Esta persona tiene menos de 18 años')
elif (edad > 18):
    print('Esta persona tiene mas de 18 años')
else:
    print('Esta persona tiene justo 18 años')

Esta persona tiene justo 18 años

**Ejercicio**: Escriba un bloque de código que, dado un número, imprima la frase 'El numero es par' si el número es par o la frase 'El numero es impar' si no lo es.

In [78]:
numero = 17

if numero%2==0:
    print(numero%2)
    print('Es par')
else:
    print(numero%2)
    print('Es impar')

1
Es impar

### 2.4 Combinando estructuras de código
Las estructuras de loops y condicionales que aprendimos se pueden combinar para generar comportamientos más complejos.

In [82]:
lista_de_edades = [4,20,15,29,11,42,10,18]
lista_mayores = []

# Queremos armar una lista solo con las edades mayores o iguales a 18
for edad in lista_de_edades:
    print(edad)
    print(edad >= 18)
    if (edad >= 18):
        # Agremos a la lista de mayores
        
        lista_mayores.append(edad)
        print(lista_mayores)

4
False
20
True
[20]
15
False
29
True
[20, 29]
11
False
42
True
[20, 29, 42]
10
False
18
True
[20, 29, 42, 18]

## Ejercicios integradores y de repaso

A continuación dejamos muchos ejercicios. ¡No se preocupen si no pueden hacer todos!

**Ejercicio**: ¿Qué es un *float*?¿Qué operaciones se pueden hacer con ellos?

**Ejercicio**: ¿Qué es un *string*?¿Qué operaciones se pueden hacer con ellos? Escribir algunos ejemplos.

In [83]:
'a' + ' b'

'a b'

**Ejercicio**: 
* ¿cuáles son las operaciones con booleanos básicas? Pistas: and, or.
* ¿Qué pasa si sumás, restás, multiplicás o dividís booleanos?

Operaciones Booleanas Básicas

In [84]:
print(True and True, True and False, False and False)
print(True or True, True or False, False or False)

True False False
True True False

In [86]:
print(not(True), not(False))

False True

**Ejercicio**: Hacer una declaración if/else que compare dos variables y que decida cuál es mayor.

In [87]:
A = 3
B = 4
if A>B :
    print('A es mayor a B' )
else:
    print('B es mayor a A')

B es mayor a A

**Ejercicio**: Dada la siguiente lista de numeros:

In [88]:
numeros_en_texto = ['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']
print(numeros_en_texto)

['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']

Calcule la suma de los unos (1) y los tres (3) en esta lista. Hay muchas formas de hacerlo, si encuentra más de una, mejor. El resultado es 210.

In [89]:
suma = 0
for numero in numeros_en_texto:
    if int(numero) == 1:
        suma+=1
    elif int(numero) == 3:
        suma +=3

print(suma)

210

**Ejercicio**: 
* Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo imprima.
* Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo guarde en una lista nueva B. Googlear: append.
* ¿Qué hace el comando *range*?

In [90]:
# Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo imprima.
A = [0,1,2,3,4]
for elemento in A:
    print(elemento + 1)

1
2
3
4
5

In [91]:
# Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo guarde en una lista nueva B. Googlear: append.
A = [0,1,2,3,4]
B = []
for elemento in A:
    B.append(elemento + 1)
print(A, B)

[0, 1, 2, 3, 4] [1, 2, 3, 4, 5]

In [92]:
# ¿Qué hace el comando *range*?
print(range(6))
print(list(range(6)))

range(0, 6)
[0, 1, 2, 3, 4, 5]

In [93]:
for i in range(6):
    print(i)

0
1
2
3
4
5

**Ejercicio**: Escribir una rutina que imprima aquellos elementos de la lista *a* que son menores que 10.
Pistas: *for*, *if*

In [94]:
a = [1, 1, 2, 3, 5, 8, 8, 13, 21, 34, 34, 55, 89]
for i in a:
    if i <10:
        print(i)

1
1
2
3
5
8
8

**Extras**: en lugar de imprimir los elementos de a uno, armar una nueva lista con aquellos elementos que sean menores a 10. ¿Cómo filtran elementos repetidos?

In [95]:
a = [1, 1, 2, 3, 5, 8, 8, 13, 21, 34, 34, 55, 89]

# DOS OPCIONES
# Primera: mirando si el elemento a agregar ya esta en b
b = []
for i in a:
    if i <10:
        if i not in b:
            b.append(i)
print(b)

# Segunda: filtrando despues
b = []
for i in a:
    if i <10:
        b.append(i)
b = list(set(b))  ## GOOGLEAR QUE ES UN SET
print(b)

[1, 2, 3, 5, 8]
[1, 2, 3, 5, 8]

**Ejercicio**: dadas dos listas *a* y *b*, armar una lista con:
* Con todos los elementos de *a* y *b*
* Con todos los elementos de *a* y *b*, ordenados de menor a mayor
* Con todos los elementos de *a* y *b*, ordenados de mayor a menor
* Con todos los elementos de *a* y *b*, ordenados de menor a mayor y sin elementos repetidos
* Con todos los elementos que están en ambas listas
* Con todos los elementos que NO están en ambas listas

In [96]:
a = [12,3,5,12,8,9,25,12,1,3,4,5,17,15]
b = [3,5,7,8,45,8,9,16,1,11,30,41,2,3,15,1,29,22]

¡**NO hay una única forma de hacerlos**!

In [97]:
# Con todos los elementos de a* y *b
todos = a + b 
print(todos)

[12, 3, 5, 12, 8, 9, 25, 12, 1, 3, 4, 5, 17, 15, 3, 5, 7, 8, 45, 8, 9, 16, 1, 11, 30, 41, 2, 3, 15, 1, 29, 22]

In [98]:
# Con todos los elementos de *a* y *b*, ordenados de menor a mayor
todos = a + b 
todos.sort() #ordena
print(todos)

[1, 1, 1, 2, 3, 3, 3, 3, 4, 5, 5, 5, 7, 8, 8, 8, 9, 9, 11, 12, 12, 12, 15, 15, 16, 17, 22, 25, 29, 30, 41, 45]

In [99]:
# Con todos los elementos de *a* y *b*, ordenados de mayor a menor
todos = a + b 
todos.sort(reverse = True)
print(todos)

[45, 41, 30, 29, 25, 22, 17, 16, 15, 15, 12, 12, 12, 11, 9, 9, 8, 8, 8, 7, 5, 5, 5, 4, 3, 3, 3, 3, 2, 1, 1, 1]

In [100]:
# Con todos los elementos de *a* y *b*, ordenados de menor a mayor y sin elementos repetidos
todos = a + b 
todos = list(set(todos))
todos.sort()
print(todos)

[1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 15, 16, 17, 22, 25, 29, 30, 41, 45]

In [101]:
# Con todos los elementos que están en ambas listas
todos_ambas = []
for elemento in a + b:
    if elemento in a and elemento in b:
        todos_ambas.append(elemento)

## ESTO NO LO PIDE PERO ES MAS FACIL PARA VISUALIZAR
print(list(set(a)))
print(list(set(b)))
print(list(set(todos_ambas)))

[1, 3, 4, 5, 8, 9, 12, 15, 17, 25]
[1, 2, 3, 5, 7, 8, 9, 41, 11, 45, 15, 16, 22, 29, 30]
[1, 3, 5, 8, 9, 15]

In [102]:
# Con todos los elementos que NO están en ambas listas

## TAREA!

**Ejercicio**: Para googlear:
* ¿Qué es un diccionario? Escribir un ejemplo en una celda.

**Diccionarios**

In [106]:
# Diccionario
diccionario = {'Key 1': 12, 'Key 2': [1,2,3,4], 'Key 3': 'Puede ser un string'}
print(diccionario)

{'Key 1': 12, 'Key 2': [1, 2, 3, 4], 'Key 3': 'Puede ser un string'}

In [107]:
print(diccionario.keys())

dict_keys(['Key 1', 'Key 2', 'Key 3'])

In [108]:
print(diccionario.values())

dict_values([12, [1, 2, 3, 4], 'Puede ser un string'])

In [109]:
diccionario['Key 1']

12

In [110]:
# Los keys no necesariamente tienen que ser strings
diccionario = {1: 12, 2: [1,2,3,4], 3: 'Puede ser un string'}
print(diccionario)
print(diccionario.keys())
print(diccionario.values())

{1: 12, 2: [1, 2, 3, 4], 3: 'Puede ser un string'}
dict_keys([1, 2, 3])
dict_values([12, [1, 2, 3, 4], 'Puede ser un string'])

In [111]:
diccionario[2]

[1, 2, 3, 4]